@import '../../../../colors.scss';

#loader-overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: $overlay-black;
}

#loader-container {
    background: $loader-message-background;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 150px;
    height: 150px;
    margin: auto;
    padding: 25px;
}

#loader-text {
    text-align: center;
}

#loader-spinner {
    padding-left: 25px;
    padding-top: 15px;
}