$primary-red: #F00;
$overlay-black: rgba(80, 80, 80, 0.1);
$loader-message-background: #FFF;
$mat-expansion-panel-header-male: #3f51b5;
$mat-expansion-panel-header-male-hover: #4e60c5;
$mat-expansion-panel-header-female: #F55;
$mat-expansion-panel-header-female-hover: #F77;
$mat-expansion-panel-header-text: #FFF;