<ng-container *ngIf="catsByGenderResult$ | async as result">
  <ng-container *ngIf="result.succeeded; else loadFailed">
    <ng-container *ngFor="let group of result.groups">
        <agl-cat-group
          *ngIf="canDisplayGroup(group)"
          [title]="group.title"
          [headerClass]="group.headerClass"
          [cats]="group.cats"></agl-cat-group>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #loadFailed>
  <p id="cats-loading-error">An error occurred while trying to fetch the cats. Please try again later.</p>
</ng-template>